body {
	padding: 0;
	margin: 0;
	border: 0;
}

@font-face {
	font-family: 'Crimes Times Roman';
	src: url('../fuentes/CrimesOfGrindelwald-r92K.ttf');
}

h1 {
	font-family: 'Crimes Times Roman';
	font-size: 40px;
	display: inline-block;
}

button {
	background-color: gray;
	padding: 5px;
	margin: 20px;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

#fondo-portada {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

nav.horizontal-menu {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;

}

ul#menu {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

li.menu {
	text-align: center;
	width: 19%;
	display: inline;
	float: left;
	padding: 5px;
	border: 1px solid black;
	margin: 3px solid black;
}

li#menu2 {
	
}

#submenu {
	display: none;
}

li.submenu {
	text-align: center;
	width: 19%;
	display: block;
	padding: 5px;
	border: 0;
	margin: 0;
}

div {
	float: left;
	margin: 20px;
	padding: 20px;
	border: 20px;
	display: inline;
}

aside {
	display: inline-block;
	float: right;
	padding: 10px;
	border: 1px solid black;
}




